.signup-input{
  background-color:blue;
  height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 8px;
    color: white;;
  
}

.signup-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    
}

.stepTitle {
    right: auto;
    left: auto;
    padding: 10px;
    font-family: sans-serif;
    /* position: absolute; */
    font-weight: bold;
    font-size: 23px;
    font-family: sans-serif;
    margin-top: 15px;
    padding: 5px;
    height: 15px;
    margin-top: 15px;
}

.regFormTitle {
    font-size: 15px;
     padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
    height: 15px;   
    margin-top: 15px;
}

.signup-session-submit {
    background: blue;
    color: white;
    height: 50px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;

}

.signup-input-user {
   padding: 5px;
   font-family: sans-serif;
}

.signup-input-password {
   padding: 5px;
   font-family: sans-serif;
}

.signInMessage {
    font-family: sans-serif;
}

.signupErrors {
      font-family: sans-serif;
      color: blue

}