.diagonal {
    position: fixed;
    bottom: 0;
    height: 0px;
    width: 40vw;
    border-top: 100vh solid #464159;
    border-right: 20vh solid transparent;
}

.sesh_screen {
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
}

.login-left {
    width: 50vw;
    height: 100vh;

    position: relative;
}

.login-left img {
    position: absolute;
    object-fit: contain;
    height: 80%;
    width: 110%;
    text-align: center;
    padding: 0px;
    border: none;
    z-index: 5;
}

.login-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.background {
    display: flex;
    flex-direction: column;
    background-color:  white;
    border: 2px solid #464159;
    border-radius: 5px;
    width: 30vw; 
    min-width: 380px;
    height: fit-content;
    
}

.session-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-Message {
    font-size: 35px;
    width: 100%;
    min-width: 380px;
    padding: 1.35rem;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    background-color: #6c7b95;
    border-radius: 3px 3px 0 0;
    color: white;
}

.session-form input {
    margin: .35em;
    width: 75%;
    box-sizing: border-box;
    border-radius: 4px;
}

.sesh-input {   
    height: 50px;
    /* border: 2px solid #156B6B; */
    border: 2px solid rgb(191, 191, 191);
    /* border-style: inset; */
    padding: 0 5%;
    height: 50px;
    font-size: 12px;
    transition: ease-in-out, font-size .35s ease-in-out;

    margin: 15px;
    width: 75%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
}

.sesh-input:focus, .sesh-input:hover {
    box-sizing: border-box;
    font-size: 15px;
    height: 50px;
}

.submitDiv {
    width: 100%;
    text-align: center;
}

.session-button {
    height: 35px;
    width: 75%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    /* background: linear-gradient(90deg, rgb(199,240,219) 0%, rgb(139,186,186) 30%, rgb(235, 195, 93) 70%, rgb(192, 119, 47) 100%); */
    /* background-color: #156B6B; */
    background-color: #464159;
    /* background-color: rgb(139,186,186); */
    color: white;

    text-align: center;
    font-size: 20px;
}

.signup-button {
    margin: 1rem 0 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  /* opacity: 2; Firefox */
}

.session-submit:hover, .session-submit:focus {
    cursor: pointer;
} 

.custom-select {
    padding: 5px;
}
.custom-select>select {
    width: 300px;
    height: 30px;
    font-size: 10px;
}
.custom-select>select:hover, .custom-select>select:focus {
    cursor: pointer;
    font-size: 15px;
}


.signupLink {
    text-decoration: none;
    align-self: flex-start;
    color: #6c7b95;
    padding: 2rem;
    font-size: 18px;
    font-weight: 900;
    margin-left: 1.5vw;
}

a:-webkit-any-link.signupLink {
    font-size: 18px;
    font-weight: 900;
    color: #6c7b95;
}
.signupLink:hover, a:-webkit-any-link.signupLink:hover {
    color: #464159;
    text-decoration: underline;
}

.sessionError {
    z-index: 2;
    color:white;
    width: 50vw;
    font-size: large;
    font-weight: bold;
}

.loginErrors {
    color: blue;
    font-size: large;
    font-weight: bold;
}

.drop:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .login-left {
        display: none;
    }

    .diagonal {
        display: none;
    }

    .login-right {
        width: 100vw;
        background-color: #464159;
        /* background-color: transparent; */
    }

    .background {
        width: 300px;
    }

    .session-Message {
        background-color: white;
        color: black;
    }
    .signupLink {
        margin-left: 2vw;
    }
}