.sesh_screen {
    display: flex;
    flex-direction: row;
    background-color: rgb(222,221,246);
    font-family: 'Nunito', sans-serif;
}
/*
I'll probably want to have a div centered on 1/3, and another on 2/3. 
Margins will be like:
  1/6 + 1/3 + 1/3 + 1/6 
On left div I do the diagonal slash with svg.
On right div I center the form.
Touch up a little bit more before doing the svg
*/

.login-left {
    width: 50vw;
    height: 100vh;
    background: linear-gradient(266deg, rgba(169,207,218,1) 0%, rgba(255,237,197,1) 100%);

    position: relative;
}

.login-left img {
    position: absolute;
    object-fit: cover;
    height: inherit;
    width: inherit;
    text-align: center;
    padding: 0px;
    border: none;
}

.login-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    /* background-color: #ff7657; */
    /* background-color: #ffba5a; */
}

.background {
    display: flex;
    flex-direction: column;
    /* background-color: #833ab4; */
  /* background: linear-gradient(50deg, rgba(228,220,255,1) 0%, rgba(215,222,235,1) 100%); */
    background-color:  white;
    /* border: 4px solid #156B6B; */
    border: 5px solid #D8D0E8;
    border-radius: 5px;
    /* background-color: #665c84; */
    /* background-color: #fcf9ed; */
    width: 30vw; /* something else not working*/
    height: fit-content;
    /* width: 100vw; */
    /* height: 120vh; */
    
}

/* .giphy {
    display: flex;
} */

.session-form {
    /* margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 400px; */
    /* background: black; */
    /* color: black;
    opacity: .9; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 900px; Stupid height for now. Just to show styling is safe */
    /* margin: auto; */
    /* padding: 30px; */
    align-items: center;
}

.session-form input {
    height: 50px;
    margin: .35em;
    width: 75%;
    box-sizing: border-box;
    border-radius: 4px;

    
}

.session-button {
    height: 50px;
    margin: .35em;
    width: 75%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    /* background: linear-gradient(10deg, rgba(192, 119, 47, 1) 0%, rgba(235, 195, 93, 1) 30%, rgba(235, 195, 93, 1) 70%, rgba(192, 119, 47, 1) 100%); */
    background-color: #156B6B;

    text-align: center;
    font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  /* opacity: 2; Firefox */
}

/* .session-submit {
    background: linear-gradient(50deg, rgba(238, 163, 146, 1) 0%, rgba(233, 146, 123, 1) 100%); 
    height: 50px;
    width: auto;
    padding: 0 30px;
    border-radius: 15%;
    font-weight: normal;
    font-size: 17px;
    margin: 15px 0;
    margin-right: 10%;
    font-weight: bold;
}

.signupButton {
    background: linear-gradient(10deg, rgba(192, 119, 47, 1) 0%, rgba(235, 195, 93, 1) 30%, rgba(235, 195, 93, 1) 70%, rgba(192, 119, 47, 1) 100%); 
    margin-right: 10%;
} */

.session-submit:hover, .session-submit:focus {
    cursor: pointer;
} 

.session-Message {
    display: flex;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 30px;
    width: 75%;
}

.sesh-input {
    background-color: white;
    color: black;
    /* border: 2px solid #156B6B; */
    border: 2px solid rgb(191, 191, 191);
    /* border-style: inset; */
    padding: 0 5%;
    width: 65%;
    height: 50px;
    /* color: white; */
    margin-bottom: 30px;
    font-size: 10px;
    transition: ease-in-out, font-size .35s ease-in-out;
}
.sesh-input:focus, .sesh-input:hover {
    font-size: 15px;
}

.custom-select {
    padding: 5px;
}
.custom-select>select {
    width: 300px;
    height: 30px;
    font-size: 10px;
}
.custom-select>select:hover, .custom-select>select:focus {
    cursor: pointer;
    font-size: 15px;
}


.signupLink {
    text-decoration: none;
    align-self: flex-start;
    color: white;
    padding: .85em;
}

a:-webkit-any-link.signupLink {
    color: gray;
}

.sessionError {
    z-index: 2;
    color:white;
    /* height: 50vh; */
    width: 50vw;
    font-size: large;
    font-weight: bold;
}

.loginErrors {
    color: blue;
    font-size: large;
    font-weight: bold;
      /* color: #fff;
  font-size: large;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15); */

}