// fonts:
// font-family: 'Nunito', sans-serif; --> angular, subtext of Rubik
// font-family: 'Open Sans', sans-serif; --> basic, content
// font-family: 'Rubik', sans-serif; --> angular, basic, mainttext/ titles
// font-family: 'Dosis', sans-serif; --> cute small notes, the 0s have dots in them
// font-family: 'Poiret One', cursive; --> cute big notes, priority not main
$gradient: linear-gradient(50deg, rgba(228,220,255,1) 0%, rgba(215,222,235,1) 100%);
$main-background: rgb(242,245,245);
$shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
$navy: rgb(15, 14, 57);
$navy2: rgb(39,38,69);
$divider: 1px solid rgba(97, 94, 106, 0.064);
$hover: rgba(97, 94, 106, 0.064);

// .profile-window {
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: rgba(121, 117, 133, 0.927);
//     background: $gradient;
// }

.user-profile {
    width: 100vw;
    height: 100%;
    background: $main-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.user-profile-greeting {
    font-family: 'Rubik', sans-serif;
    position: relative;
    display: inline block;
    font-size: 30px;
    top: 25px;
    background: white;
    padding: .5em;
    border-radius: 3px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    border-radius: 3px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    color: darkslategrey;
    border-bottom: $divider
}

.tab-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.tab-container > *:hover {
    cursor: pointer;
    background-color: $hover;
    color: black;
}

.currentTab {
    width: 80%;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
    height: 75vh;
    border-radius: 3px;
    overflow: scroll;
}

.achievement-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.achievement-parent * {
    padding: .85em;
}

.achievement-parent h2 {
    color: gray;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.achievement-parent p {
    font-family: 'Rubik', sans-serif;
    color: darkslategrey;
}

.user-info-parent {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: gray;
        font-family: 'Poiret One', cursive;
        padding: .85em;
        font-size: 30px;
        text-decoration: underline;
    }
    li {
        // align-self: center; // TODO: failed attempt to center
        display: flex;
        flex-direction: row;
        font-family: 'Rubik', sans-serif;
        padding: .85em;
        // width: 35vw;
        // text-align: center;
        // background-color: aqua;
    }
    h4, p {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        color: darkslategrey;
        width: 17.5vw;
    }
}

.user-workouts-parent ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-workout-item {
    display: flex;
    flex-direction: row;
    padding: .85em;
}

.user-workout-item div {
    padding: .85em;
    font-family: 'Nunito', sans-serif; 
    color: gray;
}

.user-workouts-parent button {
    position: absolute;
    box-sizing: border-box;
    padding: .85em;
    top: 15%;
    right: 15%;
    height: 45px;
    width: fit-content;
    background: darkslategrey;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
}

.user-workouts-parent button:hover {
    cursor: pointer;
}