.achievement-parent {
    background-color: fuchsia;
}

.edit-user-parent {
    background-color: lightsteelblue;
}

.user-info-parent {
    background-color: mediumaquamarine;
}

.user-workouts-parent {
    background-color: coral;
}