// fonts:
// font-family: 'Nunito', sans-serif; --> angular, subtext of Rubik
// font-family: 'Open Sans', sans-serif; --> basic, content
// font-family: 'Rubik', sans-serif; --> angular, basic, mainttext/ titles
// font-family: 'Dosis', sans-serif; --> cute small notes, the 0s have dots in them
// font-family: 'Poiret One', cursive; --> cute big notes, priority not main
$gradient: linear-gradient(50deg, rgba(228,220,255,1) 0%, rgba(215,222,235,1) 100%);
$main-background: rgb(242,245,245);
$shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
$navy: rgb(15, 14, 57);
$navy2: rgb(39,38,69);
$divider: 1px solid rgba(97, 94, 106, 0.064);
$hover: rgba(97, 94, 106, 0.064);

// .profile-window {
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: rgba(121, 117, 133, 0.927);
//     background: $gradient;
// }

.user-profile {
    width: 100vw;
    height: calc(100vh - 72.5px); // I thought nav bar was 20px...
    background: $main-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // overflow: scroll;
}

.user-profile-greeting {
    font-family: 'Rubik', sans-serif;
    position: relative;
    display: inline block;
    font-size: 30px;
    // top: 25px;
    margin: 30px 0px;
    background: white;
    padding: .5em;
    border-radius: 3px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: 4rem;
    font-family: 'Nunito', sans-serif;
    // background-color: white;
    border-radius: 3px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    color: darkslategrey;
    border-bottom: $divider;
}

.tab-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    // opacity: 0.3;
    border-left: $divider;
    border-right: $divider;
}

.tab-container > *:hover {
    cursor: pointer;
    background-color: $hover;
    color: black;
}

.currentTab {
    width: 80%;
    margin-bottom: 2em;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
    height: 75vh;
    border-radius: 3px;
    overflow: scroll;
}

.achievement-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.achievement-parent * {
    padding: .85em;
}

.achievement-parent h2 {
    color: gray;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.achievement-parent p {
    font-family: 'Rubik', sans-serif;
    color: darkslategrey;
}

.user-info-parent {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: gray;
        font-family: 'Poiret One', cursive;
        padding: .85em;
        font-size: 30px;
        text-decoration: underline;
    }
    li, label {
        // align-self: center; // TODO: failed attempt to center
        display: flex;
        flex-direction: row;
        font-family: 'Rubik', sans-serif;
        padding: .85em;
        // width: 35vw;
        // text-align: center;
        // background-color: aqua;
    }
    h4, p, input {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        color: darkslategrey;
        width: 17.5vw;
    }
    .edit-button {
        box-sizing: border-box;
        padding: .85em;
        top: 15%;
        right: 15%;
        // height: 45px;
        width: fit-content;
        // background: darkslategrey;
        color: white;
        border: none;
        border-radius: 3px;
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
    }
    .edit-button.start {
        background-color: darkslategrey;
    }
    .edit-button.submit {
        background-color: #d5454d
    }

    input {
        border-radius: 3px;
        border: 1px solid transparent;
        border-top: none;
    }

    input:hover {
        cursor: pointer;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }
}
// User Workouts History
.user-workouts-parent {
    display: flex;
    flex-direction: column;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        align-self: center;
        text-align: center;
        color: darkslategrey;
        padding: .85em;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
    }
}

.user-workout-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25em;
    width: 70vw;
}

.user-workouts-summary {
    margin-top: 16px;
    select {
        border: none;
        background-color: white;
        color: darkslategrey;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
            -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    select:hover, span:hover, select:focus, span:focus {
        cursor: pointer;
        // border: 1px solid #777;
        color: teal;
        text-decoration: underline;
    }
}

.user-workout-item {

    div {
    padding: .85em;
    font-family: 'Nunito', sans-serif; 
    color: gray;
    align-self: flex-start;
    }
    .name, .type {
        width: 10vw;
    }
    .date {
        text-align: center;
    }
}

.wk-header {
    align-self: center;
    font-size: 20px;
    color: black;
    background-color: white;
    div {
        color: black;
        padding-bottom: 0em;
        margin-bottom: 0.25em;
    }

    position: -webkit-sticky; /* Safari */ 
    position: sticky;
    top: 0px;
    z-index: 100; // for nifty shadow
}
// shadow for workout history
.user-workouts-parent {
    .shadow {
        // height: 35px; // height didn't work so used font-size with &nbsp;
        width: 70vw;
        align-self: center;
    }
    .s_cover {
        font-size: 20px;
        margin-bottom: -20px;
        z-index: 2;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .s_main {
        top: 40px;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        background-color: black;
        background-color: rgba(255, 255, 255, 0);
        position: -webkit-sticky; /* Safari */ 
        position: sticky;
        box-shadow: inset 0px 5px 5px -5px rgba(197, 211, 211, 0.9);
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    }
}

.user-workouts-list {
    .user-workout-item:first-of-type {
    // background-color: tomato;
    margin-top: -15px;
}
}
// .user-workouts-parent button {
//     position: absolute;
//     box-sizing: border-box;
//     padding: .85em;
//     top: 15%;
//     right: 15%;
//     height: 45px;
//     width: fit-content;
//     background: darkslategrey;
//     color: white;
//     border: none;
//     border-radius: 3px;
//     font-family: 'Dosis', sans-serif;
//     font-size: 15px;
// }

// .user-workouts-parent button:hover {
//     cursor: pointer;
// }

// User Achievements:
.awards {
    // background-color:rgba(242, 245, 245, 0);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 70vw;
    height: 40%;
    margin-bottom: 40px;
    // box-shadow: inset 0 0 0 16px rgba(197, 211, 211, 0.05); // looks weird!

    .indv_award {
        display: flex;
        flex-direction: space-between;
        flex-direction: column;
        // background-color: lawngreen;
        background-color: rgba(242, 245, 245, 0.8);
        margin: 4.5%;
        width: 350px;
        height: 350px;
        box-shadow: 5px 5px 10px rgba(197, 211, 211, 0.5);
        font-family: 'Nunito', sans-serif;
    }
    h1 {
        // font-family: 'Poiret One', cursive;
        text-align: center;
        font-size: 25px;
        margin-top: -15px;
        margin-bottom: -10px;
    }
    .image_placeholder {
        align-self: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: lightblue;
        text-align: center;
    }

    .level_and_goal {
        text-align: center;
        h3 {
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: -5px;
        }
        .workout_goal {
            font-size: 18px;
        }
    }
}