$font-main: 'Open Sans', sans-serif;
$font-h1: 'Rubik', sans-serif;
$font-h2: 'Nunito', sans-serif;
$font-funky-small: 'Dosis', sans-serif; //cute small notes, the 0s have dots in them
$font-funky-main: 'Poiret One', cursive; //cute bigger notes

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash_page {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  padding-bottom: 5rem;

  h1:nth-of-type(1) {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;

    top: 100px;
    height: 40vh;
    width: 300px;
    padding: .85em;
    margin-left: .85em;
    border: 6px solid rgb(216,222,236);
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-size: 6vh;
  }

  h1 {
    font-family: $font-h1;
    border-bottom: 1px solid rgba(97, 97, 97, 0.44);
  }

  h2 {
    box-sizing: border-box;
    padding: 1em 1em;
    margin: 2em 0;
    width: 100%;
    padding: 1em;

    font-size: 40px;
    font-family: $font-h2;
    // color: rgb(228,146,77);
  }

  h3 {
    font-size: 40px;
    padding: .35em 0;
    text-align: center;
    font-family: $font-h2;
    // color: rgb(213,69,77);
  }
  p {
    font-size: 22px;
    font-family: $font-main;
    padding: .35em 0;
  }

  .head-image-container {
    width: 100%;
    height: 50vh;
    img {
      position: absolute;
      height: inherit;
      width: inherit;
      text-align: center;
      padding: 0px;
      border: none;
      background: #fff;
      object-fit: cover;
    }
  }

  .square-image-container {
    width: 20vw;
    height: 20vh;

    img {
      position: absolute;
      height: inherit;
      width: inherit;
      text-align: center;
      padding: 0px;
      border: none;
      background: white;
      object-fit: cover;
      
    }
  }

  .circle-image-container {
    width: 20vw;
    height: 20vw;
    // border-radius: 50%;
    img {
      position: absolute;
      height: inherit;
      width: inherit;
      text-align: center;
      padding: 0px;
      border: none;
      background: white;
      object-fit: cover;
      border-radius: 10%;
      // border: 8px solid rgb(216,222,236);
      transition-duration: 0.3s;
      transition-property: transform;
      &:hover {
        transform: translateY(-19px);
      }
    }
  }

  .acheivements-screenshot {
    width: 30vw;
    height: 30vh;
  }

  .feel_motivated {
    text-align: center;
  }

  .how_you_grow {
    // background-color: rgb(216,222,236);
    background: linear-gradient(50deg, rgba(194,206,255,1) 0%, rgba(238,253,241,1) 100%);
    margin-top: 11em;
    h2 {
      text-align: center;
      padding: 0px;
      // border-top: 15px solid rgb(216,222,236);
      // border-bottom: 15px solid rgb(216,222,236);
    }

    .sp_hyg_3_cols {
      padding-bottom: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .sp_hyg_col {
      box-sizing: border-box;
      width: 60%;

      padding: 1em;
      margin: 1.5em;
      text-align: center;
      border-radius: 10px;
      background-color: white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 2vw;
        color: rgb(213, 163, 0);
      }
      transition-duration: 0.3s;
      transition-property: transform;
      &:hover {
        transform: translateY(-19px);
      }
    }
  }


  .screenshots {
    text-align: right;
  }

  .join_us {
    h2 {
      text-align: center;
      padding: 2em;
    }
    a {
      text-decoration: none;
      color: #000000;
      font-family: $font-funky-main;
      box-shadow: 0px 0px 9px 0px #888888;
      border-radius: 3px;
      background-color: white;
      padding: .5em;
      border-radius: 10px;
    }

    h3:hover {
      transform: scale(1.1);
    }
  }

  .spaced_frames {
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none; 
  }
}