$font-main: 'Open Sans', sans-serif;
$font-h1: 'Rubik', sans-serif;
$font-h2: 'Nunito', sans-serif;
$font-funky-small: 'Dosis', sans-serif; //cute small notes, the 0s have dots in them
$font-funky-main: 'Poiret One', cursive; //cute bigger notes

.splash_page {
  height: 100%;
  width: 100%;
  // padding: 1rem;
  display: flex; 
  flex-direction: column;
  // background: linear-gradient(50deg, rgba(229,244,250,1) 0%, rgba(247,238,253,1) 100%);
  background-color: rgb(242,240,250);
  padding-bottom: 5rem;

  h1 {
    // color: blue;
    padding: 65px .85em;
    font-size: 55px;
    font-family: $font-h1;
    background: linear-gradient(50deg, #c2ceff 0%, #eefdf1 100%);
    
  }
  h2 {
    box-sizing: border-box;
    padding: 2em 1em;
    margin: 2em 0;
    width: 100%;

    background-color: white;
    // background: linear-gradient(50deg, #c2ceff 0%, #eefdf1 100%);
    font-size: 40px;
    font-family: $font-h2;
    // color: rgb(228,146,77);
  }

  h3 {
    font-size: 40px;
    padding: .35em 0;
    text-align: center;
    font-family: $font-h2;
    // color: rgb(213,69,77);
  }
  p {
    font-size: 22px;
    font-family: $font-main;
    padding: .35em 0;
  }

  // .what_we_do {
    
  // }

  .feel_motivated {
    text-align: right;
  }

  .how_you_grow {
    // background-color: lightcoral;

    .sp_hyg_3_cols {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .sp_hyg_col {
      box-sizing: border-box;
      width: 90%;
      padding: .85em 1em;
      margin: 1.5em;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.543);
    }
  }

//   .what_we_offer {
//   // background-color: lightblue;
//   }


  .screenshots {
    text-align: right;
  }

  .join_us {
    a {
      text-decoration: none;
      color: #000000;
      font-family: $font-funky-main;
      box-shadow: 0px 0px 9px 0px #888888;
      border-radius: 3px;
      background-color: white;
      padding: .5em;
    }
    h3:hover {
      transform: scale(1.1);
    }
  }

  .spaced_frames {
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none; 
  }
}