/* // font-family: 'Nunito', sans-serif; --> angular, subtext of Rubik
// font-family: 'Open Sans', sans-serif; --> basic, content
// font-family: 'Rubik', sans-serif; --> angular, basic, mainttext/ titles
// font-family: 'Dosis', sans-serif; --> cute small notes, the 0s have dots in them
// font-family: 'Poiret One', cursive; --> cute big notes, priority not main */

.team_page {
   display: flex;
   flex-direction: row;
    align-content: center;
   justify-content: space-between; 
    height: 300px;
    padding: .85em;
} 

.circle {
      border-radius: 50%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

 }  

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
} 

/* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} 

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
} 

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}  


.row {
  display: flex;
  
  flex-wrap: wrap;

} 

.row1{
  display: flex;
  margin-top: 40vh;

  flex-wrap: wrap;

}

.row2{
  display: flex;
  margin-top: 5vh;

  flex-wrap: wrap;

} 

.col {
  border: none;
  margin-top: 2em;
  font-size: 25px;
  width: 300px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* Styling for Github and LinkedIn Images */
.dev-bio-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.dev-bio-links {
  padding: 20px;
}
.dev-bio-links a {
  padding: 20px;
}

.dev-bio {
  padding: 20px;
}